
<template name="icons">

  <div>
    <h4>Icon with text</h4>
    <div class="list short">
      <paper-icon-item>
        <iron-icon icon="inbox" item-icon></iron-icon> Inbox
      </paper-icon-item>
      <paper-icon-item>
        <iron-icon icon="send" item-icon></iron-icon> Outbox
      </paper-icon-item>
      <paper-icon-item>
        <iron-icon icon="delete" item-icon></iron-icon> Trash
      </paper-icon-item>
      <paper-icon-item>
      <iron-icon icon="report" item-icon></iron-icon> Spam
    </paper-icon-item>
    </div>
  </div>
</template>
